@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    max-width: 1349px;
    margin: 0 auto;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
}

.header-menu {
    max-width: 1028px;
    margin: 0 auto;
    padding: 0;
    margin-top: 46px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
}

.header-menu-logo {
    width: 180px;
    height: 51px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.header-menu-logo:hover .logo-name,
.header-menu-logo:hover .logo-name-span {
    color: #F26522;
}

.header-menu-logo:hover .logo-picture {
    background: url("../img/logo_orange.png") no-repeat;
}

.logo-picture {
    width: 53px;
    height: 47px;
    margin: 0 8px 4px 0;
    background: url("../img/logo_white.png") no-repeat;
    transition: background 1s 0s;
}

.logo-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    max-width: 140px;
    height: 51px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: color 1s 0s;
}

.logo-name-span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 135px;
    transition: color 1s 0s;
}

.header-menu-contacts {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.header-menu-item, a[href^="tel:"], a[href^="mailto:"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    transition: color 2s 0s;
}

.header-menu-item:hover a[href^="tel:"],
.header-menu-item:hover a[href^="mailto:"] {
    color: #F26522;
}

.tours {
    max-width: 1030px;
    margin: 0 auto;
}

.tours-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 17px;
    grid-column-gap: 3%;
    padding: 0;
    justify-content: center;
}

.tours-list-item {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.tours-item-link {}


.tours-hover {
    width: 100%;
    height: 0;
    background: #F26522;
    position: absolute;
    left: 0px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
    transition: height, background-color, bottom, opacity 2s 0s;
}

.tours-list-item:hover .tours-hover {
    height: 22%;
    bottom: 40px;
    opacity: 1;
}

.tours-hover-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin-left: 16px;
    margin-bottom: 12px;
}

.tours-hover-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
    margin-top: 8px;
    margin-left: 10px;
}

.tours-hover-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.tours-hover-link::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 10px;
    background-image: url("../img/Vector_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 16px;
    margin-right: 14px;
}

.tours-item-link-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    display: block;
    transition: color 3s 0s;
}

.tours-list-item:hover .tours-item-link-tittle {
    color: #F26522;
}

.tours-picture {
    border: 10px solid transparent;
    border-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%) 10 round round;
}

.footer-info {
    max-width: 306px;
    margin: 0 auto;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 15px;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}